/* -------basis========= */
*,
*::before,
*::after{
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}
a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}
button{
    cursor: pointer;
}

/* --------------header================ */
.header{
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container{
    width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
    /* border-left: red 5px solid;
    border-right: red 5px solid;   */
}
.header-div{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0em;
    color: #252b42;
    margin-right: 52px;
}
.nav-list {
    display: flex;
    gap: 21px;
    list-style-type: none;
    
}
.nav-list-ref {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    text-align: center;
    color: #737373;
    text-decoration: none;
    transition: color 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-list-ref:hover,
.nav-list-ref:focus {
    color: red;
}

.login-button {
    display: flex;
    align-items: center;
    gap: 45px;
}
.login {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.01em;
    color: #96bb7c;
    transition: color 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.01em;
    color: #fff;
    background-color: #96bb7c;
    border-radius: 5px;
    border-color: transparent;
    padding: 15px 25px;
    display: block;
    min-width: 138px;
    height: 52px;
    text-decoration: none;
    transition:
        color 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 500ms ease;
    
}
.vector-btn{
  display: inline-block;
  margin-left: 15px;
}
.login:hover,
.login:focus {
    color: red;
}

.button:hover,
.button:focus {
    color: rgb(94, 16, 16);
    background-color: coral;
}
/* -------section 1========== */
.hero {
    display: flex;
    padding: 0 15px;
    /* margin: 0 auto; */
}
.hero-info{
    margin-top: 148px;
    margin-bottom: 148px;
    margin-left: auto;
}
.hero-img{
    margin-top: 12px;
    margin-right: auto;
}
.hero-title {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.38;
    letter-spacing: 0em;
    color: #252b42;
    margin-top: 54px;
    max-width: 540px;
}
.hero-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.50;
    letter-spacing: 0.01em;
    color: #737373;
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero-btn-color {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    background-color: #96bb7c;
    border-radius: 5px;
    border-color: transparent;
    padding: 15px 40px;
    min-width: 195px;
    height: 52px;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 450ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero-btn-none {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.01em;
    text-align: center;
    color: #96bb7c;
    border: 1px solid #96bb7c;
    background-color: transparent;
    border-radius: 5px;
    padding: 15px 40px;
    min-width: 165px;
    height: 52px;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 450ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero-btn-color:hover,
.hero-btn-color:focus {
    color: rgb(248, 143, 143);
    background-color: rgb(12, 72, 52);
}

.hero-btn-none:hover,
.hero-btn-none:focus {
    color: rgb(247, 173, 173);
    background-color: rgb(12, 72, 52);
}


/* ----------section 2============== */
.section-two{
    padding-top: 112px;
    padding-bottom: 112px;
}
.page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #252b42;
    margin-top: 34px;
    margin-bottom: 10px;
}
.page-paragraf {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.01em;
    color: #737373;
    max-width: 463px;
    /* text-align: left; */
}
.cards {
    margin-top: 112px;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
    margin-top: 112px;
}
.cards-list{
    width: calc((100% - 90px) / 4);
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    transition: all 250ms ease-in-out;
    padding: 35px 40px;
    /* border: black solid 10px; */
}

.svg {
     /* background-color: blue; */
    margin-bottom: 20px;
    position: relative;
}
.vector{
    margin-top: 22px;
    margin-left: 40px;
    fill: #B2E3FF;
        transition: all 250ms ease-in-out;
}
.icon{
    position: absolute;
    top: 9px;
    left: 49px;
    transition: all 250ms ease-in-out;
}
.icon-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.01em;
    color: #252b42;
    position: relative;
    padding-bottom: 20px;
}
.icon-title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #E74040;
}
.icon-paragraf {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.01em;
    color: #737373;
    margin-top: 20px;
    text-align: left;
}
.cards-list:hover,
.cards-list:focus{
    background-color: #96BB7C;
    transform: scale(1.15);
    border: none;
}
.cards-list:hover .icon-title,
.cards-list:hover .icon-paragraf{
    color: #ffffff;
}
.cards-list:hover .icon-title::after{
    background-color: #ffffff;
}
.cards-list:hover .vector{
    fill: white;
    transform: scale(1.5);
}
.cards-list:hover .icon{
    transform: scale(1.5);
}
/* --------------section 3============== */
.section-three{
    padding-top: 160px;
    padding-bottom: 160px;
}
.third-page {
    display: flex;
}
.third-page-img {
    margin-right: auto;
}
.third-page-text{
    margin-top: 53px;
    margin-bottom: 53px;
}
.third-page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #252b42;
    margin-top: 42px;
    margin-bottom: 35px;
    max-width: 250px;
    position: relative;
}
.third-page-title::before {
    position: absolute;
    content: "";
    width: 94px;
    height: 7px;
    background: #e74040;
    top: -35px;
}
.page-p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.01em;
    color: #737373;
    max-width: 345px;
    margin-bottom: 35px;
}
.page-ref {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #96bb7c;
    display: block;
    position: relative;
    transition: color 240ms ease-in-out;
}
.page-svg {
    margin-left: 10px;
    fill: #96bb7c;
    position: absolute;
    top: 3px;
    transition: fill 240ms ease-in-out
}
.page-ref:hover {
    color: rebeccapurple;
    fill: rebeccapurple;
}

.page-ref:hover .page-svg {
    fill: rebeccapurple;
}
/* -----------section 4================ */
.section-four{
    margin-top: 160px;
    margin-bottom: 160px;
}
.four-page{
    display: flex;
}
.four-page-text{
    margin-top: 58px;
    margin-bottom: 58px;
}
.four-page-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.25;
        letter-spacing: 0.01em;
        color: #252b42;
        margin-top: 42px;
        margin-bottom: 35px;
        /* max-width: 446px; */
        position: relative;
}
.four-page-title::before {
    position: absolute;
    content: "";
    width: 94px;
    height: 7px;
    background: #e74040;
    top: -35px;
}
.four-section-img{
    margin-left: 30px;
}

/* -----------section 5==================== */
.five-section{
    margin-top: 112px;
    margin-bottom: 112px;
}
.five-page-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #252b42;
        margin-top: 32px;
        margin-bottom: 10px;
}
.five-page-text{
    margin-bottom: 112px;
}
.product-list{
    display: flex;
    gap: 30px;
}
.product-list-item-width{
    width: calc((100% - 90px) / 4);
}
.product-card{
    position: relative;
}
.sale-sticker{
    display: block;
    border-radius: 3px;
        padding: 0px 10px;
        width: 51px;
        height: 24px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            background: #e74040;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 20px;
        left: 20px; 
}
.product-btn-list{
    display: flex;
    gap: 10px;
     position: absolute;
    bottom: 24px;
    left: 49px;
    right: 49px; 
}

.product-btn{
    border-radius: 45px;
    border-color: transparent;
        width: 40px;
        height: 40px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}
.product-btn:hover,
.product-btn:focus{
    background-color: red;
}

/*  */
.product-card-info{
    padding: 25px 25px 25px 35px;

}
.measuring-block{
    display: flex;
    margin-bottom: 11px;
}
.measuring{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #96bb7c;
    margin-right: auto;
}
.measuring-btn{
    border-radius: 20px;
    border-color: transparent;
        padding: 5px;
        width: 50px;
        height: 26px;
        background: #2d4059;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px;
        margin-left: auto;
}
.measuring-btn-text{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.02em;
        color: #fff;
       
}

/*  */
.product-card-title{
        font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #252b42;
            margin-bottom: 10px;
}
.product-card-p{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        color: #737373;
        margin-bottom: 10px;
        max-width: 182px;
}

.upload-block{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.upload-number{
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.01em;
        color: #737373;
}
.price-old{
    display: inline;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #bdbdbd;
        margin-right: 5px;
}
.price-new{
    display: inline;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #ffab71;
}

.page-ref-product-card {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #96bb7c;
    display: block;
    position: relative;
    transition: color 240ms ease-in-out;
    margin-top: 15px;
    border: 1px solid #96bb7c;
    border-radius: 37px;
    padding: 10px 20px;
        max-width: 144px;
        height: 44px;
}

.page-svg-product-card {
    margin-left: 10px;
    fill: #96bb7c;
    position: absolute;
    top: 14px;
    transition: fill 240ms ease-in-out
}

.page-ref-product-card:hover {
    color: rebeccapurple;
    fill: rebeccapurple;
}

.page-ref-product-card:hover .page-svg-product-card {
    fill: rebeccapurple;
}



/* ----------------footer=============== */
.footer{
    margin-top: 50px;
    margin-bottom: 25px;
}
.information-contacts-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #737373;
}
.information-contacts-list>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.information-contacts-list>ul>h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #252b42;
    margin-bottom: 20px;
}
.information-contacts-list>ul>li{
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.01em;
        color: #737373;
}
.footer-contacts {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #737373;
    max-width: 256px;
}
.referens-list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-underground {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.footer-underground-p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;
    color: #737373;
}
.social-links {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.social-links-ref{
    transition: scale 500ms ease-in-out;
}
.social-links-ref:hover .social-links-img,
.social-links-ref:focus .social-links-img{
    scale: 1.5;
}

